

<body>
    
   
    <h3 class="titulo header center orange-text">Temas Disponibles para Ti</h3>
        
        
    <div class="row container content-all">
        
        <div class="content-img col s12 l4">
            <img src="assets/images/arte.jpg">
           
            <div class="content-txt">
                <h2>Arte y Cultura</h2>
                <ul>
                    <li><a href="#">Musica</a></li>
                     <li><a href="#">Literatura</a></li>
                    <li><a href="#">Pintura y Escultura</a></li>
                </ul>                
            </div>
           
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
        </div>
       
        
        <div class="content-img col s12 l4">
            <img src="assets/images/matematicas.jpg">
           
            <div class="content-txt">
                <h2>Ciencias Formales</h2>
                <ul>
                    <li><a href="#">Geometria</a></li>
                    <li><a href="#">Calculo</a></li>
                    <li><a href="#">Computacion</a></li>
                </ul>                   
            </div>
           
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
        </div>
       
        
        <div class="content-img col s12 l4">
            <img src="assets/images/humanidades.jpg">
           
            <div class="content-txt">
                <h2>Humanidades</h2>
                <ul>
                    <li><a href="#">Filosofia</a></li>
                     <li><a href="#">Etica</a></li>
                    <li><a href="#">Derecho</a></li>
                </ul>                  
            </div>
           
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
        </div>
       

        <div class="content-img col s12 l4">
            <img src="assets/images/historia.jpg">
           
            <div class="content-txt">
                <h2>Historia</h2>
                <ul>
                    <li><a href="#">America</a></li>
                     <li><a href="#">Universal</a></li>
                    <li><a href="#">Mexico</a></li>
                </ul>                  
            </div>
           
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
        </div>
       
        
        <div class="content-img col s12 l4">
            <img src="assets/images/ciencias.jpg">
           
            <div class="content-txt">
                <h2>Ciencias Factuales</h2>
                <ul>
                    <li><a href="#">Biologia</a></li>
                     <li><a href="#">Quimica</a></li>
                    <li><a href="#">Ecologia</a></li>
                </ul>                  
            </div>
           
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
        </div>
       
        
        <div class="content-img col s12 l4">
            <img src="assets/images/lenguas.jpg">
           
            <div class="content-txt">
                <h2>Lenguas</h2>
                <ul>
                    <li><a href="#">Frances</a></li>
                     <li><a href="#">Ingles</a></li>
                    <li><a href="#">Chino</a></li>
                </ul>               
            </div>
           
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
        </div>
        
        
    </div>
    
   .
</body>
