<style>
    .titulo{
       
    }
 
</style>
 
<h3 class="titulo header center orange-text">Temas Disponibles para Ti</h3>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Hover</title>
    <link rel="stylesheet" href="">
</head>
<body>
   
    <div class="content-all">
       
        <div class="content-img">
           
            <img src="assets/images/arte.jpg">
           
            <div class="content-txt">
                <h2>Arte y Cultura</h2>
                <p>por establecer</p>                
            </div>
           
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
           
        </div>
       
        <div class="content-img">
           
            <img src="assets/images/matematicas.jpg">
           
            <div class="content-txt">
                <h2>Ciencias Formales</h2>
                <p>por determinar</p>                
            </div>
           
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
           
        </div>
       
        <div class="content-img">
           
            <img src="assets/images/humanidades.jpg">
           
            <div class="content-txt">
                <h2>Humanidades</h2>
                <p>por determinar</p>                
            </div>
           
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
           
        </div>
       
       
        <div class="content-img">
           
            <img src="assets/images/historia.jpg">
           
            <div class="content-txt">
                <h2>Historia</h2>
                <p>por determinar</p>                
            </div>
           
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
           
        </div>
       
        <div class="content-img">
           
            <img src="assets/images/ciencias.jpg">
           
            <div class="content-txt">
                <h2>Ciencias Factuales</h2>
                <p>por determinar</p>                
            </div>
           
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
           
        </div>
       
        <div class="content-img">
           
            <img src="assets/images/lenguas.jpg">
           
            <div class="content-txt">
                <h2>Lenguas</h2>
                <p>por determinar</p>                
            </div>
           
            <div class="content-1"></div>
            <div class="content-2"></div>
            <div class="content-3"></div>
            <div class="content-4"></div>
           
        </div>
    </div>
   .
</body>
</html>