<div class="container row">
    <div class="col s12 l8">
        <div class="video-container z-depth-4">
		  <iframe height="480" src="https://www.youtube.com/embed/vsxsZ42PCzU" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4>Proyecciones Estereogr&aacute;ficas</h4> <h4 class="yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></h4>
        <p>Contacto: josebernal@gmail.com</p>
        <br>

    </div>

    <div class="col s12 l4">
        
        <div >
            
             
                <h2>Ejercicios</h2>  
        </div>
        <br>
        
            <h5>1.- Dada la orientacion de un plano con rumbo N30E y buzamiento 40E. Trazar su circulo maximo y ubicar su respectivo polo.</h5>
        <br>
        
            <h5>2.- Dada la orientacion de la superficie en la ciudad de Mexico, que corresponde al rumbo S40E y con buzamiento de 70E. Traza el area de riesgo en un sismo y ubica su polo.</h5>
        
        
    </div>
    
    <div class="col s12 l8">
        <h5>Comentarios:</h5>
        <br>
        <div>
            <textarea style="height: 100px;">Agrega un comentario aqu&iacute;.</textarea>
            <input class="right" type="submit" value="Submit">
        
        </div>
        
        
    
        
        
        
        
    

    </div>
    

</div>