<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
	<ul class="left hide-on-med-and-down">
	    <img class="waves-effect responsive-img" width="50" height="50" src="assets/images/RocketL.png"><a id="logo-container" style="font-family:Comic Sans MS;" class="right valign-wrapper flow-text">ROCKET LEARNING</a>
	</ul>
	
	<ul class="right hide-on-med-and-down">
	    <img width="65" height="65" href="0Usuario.html" src="assets/images/User.png" alt="" class="btn-large responsive-img btn-floating">
	</ul>
	
	<ul class="right hide-on-med-and-down">
	    <a routerLink="/signup" class="btn-large waves-effect waves-light orange z-depth-2">Ingresar</a>
	</ul>
	<ul class="right hide-on-med-and-down">
            <li><a routerLink="/views">Recientes</a></li>
	</ul>
	<ul class="right hide-on-med-and-down">
            <li><a routerLink="/views">Mas vistos</a></li>
	</ul>
	<ul class="right hide-on-med-and-down">
            <li><a routerLink="/subjects">Materias</a></li>
	</ul>
	<ul class="right hide-on-med-and-down">
            <li class="active"><a routerLink="/">Inicio</a></li>
	</ul>
	
	
	
	<ul id="nav-mobile" class="sidenav">
            <li><a routerLink="/views">Recientes</a></li>
	</ul>
	<ul id="nav-mobile" class="sidenav">
            <li><a routerLink="/views">Mas vistos</a></li>
	</ul>
	<ul id="nav-mobile" class="sidenav">
            <li><a routerLink="/subjects">Materias</a></li>
	</ul>
	<ul id="nav-mobile" class="sidenav">
            <li class="active"><a routerLink="/home">Inicio</a></li>
	</ul>
	
	<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div>
    <nav>
	<div class="nav-wrapper">
	    <form>
		<div class="input-field light-blue lighten-1">
		    <input id="search" class="" type="search" required>
		    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
		    <i class="material-icons">close</i>
		</div>
	    </form>
	</div>
    </nav>
</div>
<router-outlet></router-outlet>
<footer class="page-footer orange">
    <div class="container">
	<div class="row">
            <div class="col l6 s12">
		<h5 class="white-text">Integrantes:</h5>
		<p class="grey-text text-lighten-4">Alejandro Anguiano Gutiérrez 		A01566462<br>Carlos David Estrada Rodriguez 	A01566138</p>

            </div>
            <div class="col l3 s12">
		<h5 class="white-text">.</h5>
		<ul>
		    <li><a class="white-text" href="#!">.</a></li>
		</ul>
            </div>
            <div class="col l3 s12">
		<h5 class="white-text">.</h5>
		<ul>
		    <li><a class="white-text" href="#!">.</a></li>
		</ul>
            </div>
	</div>
    </div>
    <div class="footer-copyright">
	<div class="container">
	    <a class="orange-text text-lighten-3">Rocket Learning ©</a>
	</div>
    </div>
</footer>

