
<div class="container">

    
    <div class="row" align="center">
        
        <div class="col s12 m6 l6">
            <br><br><br><br>
            <div class="loginbox">
                <img src="assets/images/User.png" class="avatar">
                <h1>Iniciar sesi&oacute;n</h1>
                <br>   
                
                <form>
                    
                    <div class="inputBox">
                        <input type="text" name="" required="">
                        <label type="user">Usuario</label>
                    </div>
                    <br>
                    
                    <div class="inputBox">
                        <input type="password" name="" required="">
                        <label type="passw">Contrase&ntilde;a</label>
                    </div>
                    <br>
                    
                    <input type="submit" name="" value="Ingresar">
                    <a href="#">Olvid&eacute; mi contrase&ntilde;a?</a><br>
                </form>
                
            </div>
        </div>

        
        <div class="col s12 m6 l6">
            <br><br><br><br>
            <div class="registerbox">
                <img src="assets/images/User.png" class="avatar">
                <h1>Crear tu cuenta</h1>
                <br>
                <form>
                    <div class="row">
                        
                        <div class="col s4">
                            <div class="inputBox">
                                <input type="text" name="" required="">
                                <label type="user">Usuario</label>
                            </div>
                        </div>
                        
                        <div class="col s8">
                            <div class="inputBox">
                                <input type="text" name="" required="">
                                <label type="correo">Correo electr&oacute;nico</label>
                            </div> 
                        </div>
                        
                    </div>





                    

                    <div class="row">
                        
                        <div class="col s6">
                            <div class="inputBox">
                                <input type="password" name="" required="">
                                <label type="pass">Contrase&ntilde;a</label>
                            </div>
                        </div>
                        
                        <div class="col s6">
                            <div class="inputBox">
                                <input type="password" name="" required="">
                                <label type="passconfirmar">Confirma la contrase&ntilde;a</label>
                            </div>
                        </div>
                        
                    </div>




                    <br>
                    <input type="submit" name="" value="Registrarse">

                </form>
            </div>
            </div>
        


        </div>
    <br><br><br><br><br><br>
</div>
