<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="loginbox">
    <img src="assets/images/User.png" class="avatar">
	<h1>Iniciar Sesi&oacute;n</h1>
    <br>
    <form>
        <div class="inputBox">
            <input type="text" name="" required="">
            <label type="user">Usuario</label>
        </div>
        <br>
        <div class="inputBox">
            <input type="password" name="" required="">
            <label type="passw">Contrase&ntilde;a</label>
        </div>
        
        <input type="submit" name="" value="Ingresar">
        <a href="#">Olvid&eacute; mi contrase&ntilde;a?</a><br>
        <a href="#">Registrate aqu&iacute;</a>
            
    </form>
</div>

<div class="registerbox">
    <img src="assets/images/User.png" class="avatar">
	<h1>Registrarse</h1>
    <br>
    <form>
        <div class="inputBox">
            <input type="text" name="" required="">
            <label type="user">Usuario</label>
        </div>
        <br>
        <div class="inputBox">
            <input type="password" name="" required="">
            <label type="passw">Contrase&ntilde;a</label>
        </div>
        
        <input type="submit" name="" value="Registrarse">
        <a href="#">Olvid&eacute; mi contrase&ntilde;a?</a><br>
        <a href="#">Registrate aqu&iacute;</a>
            
    </form>
</div>
