<style>
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>

<body>

<h2>Animated Button</h2>

<button class="button" style="vertical-align:middle"><span>Hover </span></button>
    
    

<div class="container">
    
    <h4 class="header center blue-text">Populares</h4>

    <div class="row" style="text-align:justify">
        
        <div class="icon-block col s6 m4 l3">
            
            <h2 class="center light-blue-text"><i class="material-icons">local_movies</i></h2>
            <div class="video-container z-depth-4">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/vsxsZ42PCzU" frameborder="0"></iframe>
            </div>
            <h4 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></h4>
            <h5 class="center">Martin Fierro</h5>

        </div>


        <div class="icon-block col s6 m4 l3">

            <h2 class="center light-blue-text"><i class="material-icons">local_library</i></h2>
            <div class="video-container z-depth-4">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/6K9_VF1F8yo" frameborder="0"></iframe>
            </div>
            <h4 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i></h4>
            <h5 class="center">Historia de M&eacute;xico</h5>

        </div>

        
        <div class="divisor col s12 hide-on-large-only"></div>

        
        <div class="icon-block col s6 m4 l3">
        
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <div class="video-container z-depth-4">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/mY3hV0ME5SU" frameborder="0"></iframe>
            </div>
            <h4 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></h4>
            <h5 class="center">Filosof&iacute;a Posmoderna</h5>
            
        </div>


        <div class="icon-block col s6 m4 l3">

            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <div class="video-container z-depth-4">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/mY3hV0ME5SU" frameborder="0"></iframe>
            </div>
            <h4 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i></h4>
            <h5 class="center">Filosof&iacute;a Posmoderna</h5>

        </div>

    </div>

    
</div>

    
<br>
<div class="divisor"></div>    
<br>    
   
    
<div class="container">
    
    <h4 class="header center blue-text">Agregados recientemente</h4>

    <div class="row" style="text-align:justify">
        
        <div class="icon-block col s6 m4 l3">
            
            <h2 class="center light-blue-text"><i class="material-icons">local_movies</i></h2>
            <div class="video-container z-depth-4">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/vsxsZ42PCzU" frameborder="0"></iframe>
            </div>
            <h4 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></h4>
            <h5 class="center">Martin Fierro</h5>

        </div>


        <div class="icon-block col s6 m4 l3">

            <h2 class="center light-blue-text"><i class="material-icons">local_library</i></h2>
            <div class="video-container z-depth-4">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/6K9_VF1F8yo" frameborder="0"></iframe>
            </div>
            <h4 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i></h4>
            <h5 class="center">Historia de M&eacute;xico</h5>

        </div>

        
        <div class="divisor col s12 hide-on-large-only"></div>

        
        <div class="icon-block col s6 m4 l3">
        
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <div class="video-container z-depth-4">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/mY3hV0ME5SU" frameborder="0"></iframe>
            </div>
            <h4 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></h4>
            <h5 class="center">Filosof&iacute;a Posmoderna</h5>
            
        </div>


        <div class="icon-block col s6 m4 l3">

            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <div class="video-container z-depth-4">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/mY3hV0ME5SU" frameborder="0"></iframe>
            </div>
            <h4 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i></h4>
            <h5 class="center">Filosof&iacute;a Posmoderna</h5>
            
        </div>

    </div>

    
</div>
    
    
<br>
<div class="divisor"></div>    
<br>       
     
    
<div class="container">
    
    <h4 class="header center blue-text">Mejor votados</h4>
    
    <br>

    <div class="row" style="text-align:justify">
        
        <div class="icon-block col s6 m4 l3">
            
            <h5 class="center">Martin Fierro</h5>
            <div class="video-container z-depth-4">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/vsxsZ42PCzU" frameborder="0"></iframe>
            </div>
            <h5 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></h5>
            

        </div>


        <div class="icon-block col s6 m4 l3">

            <h5 class="center">Historia de M&eacute;xico</h5>
            <div class="video-container z-depth-4">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/6K9_VF1F8yo" frameborder="0"></iframe>
            </div>
            <h5 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></h5>
            

        </div>

        
        <div class="divisor col s12 hide-on-large-only"></div>

        
        <div class="icon-block col s6 m4 l3">
        
            <h5 class="center">Filosof&iacute;a Posmoderna</h5>
            <div class="video-container z-depth-4">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/mY3hV0ME5SU" frameborder="0"></iframe>
            </div>
            <h5 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></h5>
            

            
        </div>


        <div class="icon-block col s6 m4 l3">

            <h5 class="center">Filosof&iacute;a Posmoderna</h5>
            <div class="video-container z-depth-4">
            <iframe width="853" height="480" src="assets/images/video.png" name="videoframe" frameborder="0"></iframe>
            </div>
            <h5 class="center yellow-text"><a class="yellow-text" href="https://www.youtube.com/embed/mY3hV0ME5SU" target="videoframe"><i class="material-icons">star</i></a><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></h5>
            
            
        </div>

    </div> <br><br>

    
</div>
    
    

</body>