<div class="section no-pad-bot" id="index-banner">
    <div class="container">
	<br><br>
	<h1 class="header center orange-text"><i class="material-icons small">school</i> <ins class="orange-text">Bienvenido a Rocket Learning</ins> <i class="material-icons small">school</i></h1>
	<div class="row center">
            <h5 class="header col s12 light">Una plataforma de estudio en base a un gran catalogo de videos educativos y ejercicios de estudio.</h5>
	</div>
	
	<br><br><br><br><br><div class="divider"></div><br><br><br><br>

    </div>
</div>




<div class="container">
    <div class="section">
	<div class="row center">
	    <div class="col s12 m4 l3"></div>
	    <div class="col s12 m4 l6">
		<h4 class="header center blue-text">Sugeridos para ti</h4>
		<div class="col s12 m4 l3"></div>
	    </div>
	</div>

	<!--   Sugeridos para ti   -->
	<div class="row">
            <div class="col s12 m3">
		<div class="icon-block">
		    
		    <h2 class="center light-blue-text"><i class="material-icons">local_movies</i></h2>
		    <div class="video-container z-depth-4">
			<iframe width="853" height="480" src="https://www.youtube.com/embed/vsxsZ42PCzU" frameborder="0" allowfullscreen></iframe>
		    </div>
		    <h4 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></h4>
		    <h5 class="center">Martin Fierro</h5>

		    <p class="light">Representacion del poema narrativo, Martin Fierro, escrito en verso por Jos&eacute; Hern&aacute;ndez en 1872, obra literaria considerada ejemplar del g&eacute;nero gauchesco..</p>
		</div>
		
            </div>

	    
            <div class="col s12 m3">
		<div class="icon-block">
		    <h2 class="center light-blue-text"><i class="material-icons">local_library</i></h2>
		    <div class="video-container z-depth-4">
			<iframe width="853" height="480" src="https://www.youtube.com/embed/6K9_VF1F8yo" frameborder="0" allowfullscreen></iframe>
		    </div>
		    <h4 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i></h4>
		    <h5 class="center">Historia de M&eacute;xico</h5>

		    <p class="light">El prop&oacute;sito de este material es que alumno conozca el concepto Historia y comprenda el sentido de estudiar la historia de M&eacute;xico.</p>
		</div>
            </div>

            <div class="col s12 m3">
		<div class="icon-block">
		    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
		    <div class="video-container z-depth-4">
			<iframe width="853" height="480" src="https://www.youtube.com/embed/mY3hV0ME5SU" frameborder="0" allowfullscreen></iframe>
		    </div>
		    <h4 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></h4>
		    <h5 class="center">Filosof&iacute;a Posmoderna</h5>

		    <p class="light">La filosof&iacute;a posmoderna es una orientaci&oacute;n filos&oacute;fica que es cr&iacute;tica con las asunciones fundamentales y la tendencia universalizadora de la filosof&iacute;a occidental.</p>
		</div>
            </div>
        
        <div class="col s12 m3">
		<div class="icon-block">
		    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
		    <div class="video-container z-depth-4">
			<iframe width="853" height="480" src="https://www.youtube.com/embed/mY3hV0ME5SU" frameborder="0" allowfullscreen></iframe>
		    </div>
		    <h4 class="center yellow-text"><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i></h4>
		    <h5 class="center">Filosof&iacute;a Posmoderna</h5>

		    <p class="light">La filosof&iacute;a posmoderna es una orientaci&oacute;n filos&oacute;fica que es cr&iacute;tica con las asunciones fundamentales y la tendencia universalizadora de la filosof&iacute;a occidental.</p>
		</div>
            </div>
	</div>

    </div>
    <br><br>
</div>
